.c-form {
  background: #fff;
  border-radius: $space_s;
  padding: $space_xl;
  margin-bottom: $space_m;
  &__unit {
    display: block;
    margin-bottom: $space_xl;
    @include mq() {
      margin-bottom: $space_l;
    }
  }
  &__input, &__submit, &__select {
    background: #fff;
    border: 1px solid #aaa;
    border-radius: $radius_s;
    box-sizing: border-box;
    display: block;
    font-family: $font-family_default;
    font-size: $font-size_default;
    height: $input-height;
    padding: 0 10px;
    width: 100%;
  }
  &__submit {
    color: white;
    background: black;
    border: none;
    // margin-bottom: $space_xl;
    // @include mq() {
    //   margin-bottom: $space_l;
    // }
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
    &--twitter {
      background: #fff;
      border: 2px solid $twitter;
      color: $twitter;
      margin-bottom: 0;
    }
  }
  &__text {
    margin-bottom: $space_s;
  }
  &--modal {
    width: 100%;
  }
  &__message {
    &--invalid {
      color: $red;
    }
  }
  &__withdraw {
    background: #fff;
    border-radius: 4px;
    color: black;
    display: block;
    margin: $space_m 0;
    padding: $space_s;
    width: 30%;
    &:hover {
      cursor: pointer;
      color: $font-color_sub1;
    }
  }
}