.c-loader {
  background: rgba($color: #fff, $alpha: 0.8);
  border-radius: 4px;
  display: none;
  left: 30%;
  padding: $space_s;
  position: absolute;
  top: 20%;
  transition: $time_s;
  &.active {
    display: inline-block;
  }
}