.c-modal {
  box-sizing: border-box;
  &__container {
    width: 60%;
    height: 80%;
    max-height: $modal-height;
    background: #fff;
    border-radius: $radius_s;
    padding: $space_xl;
    @include mq() {
      padding: $space_m;
    }
    z-index: 5;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__text {
    font-size: $font-size_l;
    margin: $space_s 0;
    @include mq() {
      text-align: center;
    }
  }
  &__br {
    display: none;
    @include mq() {
      display: block;
    }
  }
}