.c-nav {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  &__item {
    box-sizing: border-box;
    display: block;
    font-size: $font-size_s;
    height: $header-height;
    min-width: 40px;
    text-align: center;
    &:hover {
      background: #fff;
      @include mq(md) {
        background: none;
      }
    }
  }
  &__link {
    display: block;
    @include mq(md) {
      display: inline-block;
    }
    height: 100%;
    line-height: $header-height;
    padding: 0 $space_s;
  }
}