.c-triggerMenu {
  box-sizing: border-box;
  display: none;
  @include mq(md){
    display: inline-block;
    opacity: 0;
  }
  height: 28px;
  position: relative;
  transition: $time_l;
  width: 36px;
  z-index: 4;
  &.show {
    opacity: 1;
  }
  &__bar {
    background: #555;
    border-radius: 5px;
    box-sizing: border-box;
    display: inline-block;
    height: 4px;
    left: 0;
    position: absolute;
    width: 100%;
    &:nth-of-type(1) {
      top: 0;
    }
    &:nth-of-type(2) {
      top: 12px;
    }
    &:nth-of-type(3) {
      bottom: 0;
    }
  }
}