.p-formTab {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: $form-width;
  width: 60%;
  @include mq('md') {
    width: 100%;
  }
  &__item {
    border-bottom: 2px solid $gray;
    margin-bottom: $space_m;
    margin-right: $space_m;
    padding: $space_s;
    &.notActive {
      border-bottom: 2px solid $lightgray;
    }
    &:hover {
      border-bottom: 2px solid $gray;
    }
  }
  &__link {
    display: block;
    &.notActive {
      color: $lightgray;
    }
    &:hover {
      color: $gray;
    }
  }
}