.p-info {
  &__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $space_m 0;
    width: 100%;
  }
  &__title, &__title--setting {
    box-sizing: border-box;
    font-size: $font-size_xl;
    @include mq(){
      font-size: $font-size_default;
    }
    &--br {
      display: none;
      @include mq() {
        display: block;
      }
    }
  }
  &__summary {
    text-align: center;
    @include mq() {
      text-align: left;
    }
  }
  &__text {
    display: inline-block;
    @include mq() {
      display: block;
    }
    &--br {
      @include mq(){
        display: none;
      }
    }
  }
}