.p-wishList {
  background: $lightgray;
  border-radius: $space_s;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.25);
  box-sizing: border-box;
  padding: $space_l;
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: $space_m;
  }
  &__headerBtn {
    align-items: center;
    background: #fff;
    border: 1px solid #aaa;
    border-radius: $space_s;
    box-sizing: border-box;
    color: $spring_orange;
    display: flex;
    height: 50px;
    max-width: 55%;
    min-width: 50px;
    padding: $space_s;
    text-align: center;
    transition: $time_s;
    width: auto;
    @include mq() {
      font-size: $font-size_m;
    }
    &:hover {
      background: $spring_orange;
      border: 1px solid $spring_orange;
      color: $lightgray;
      cursor: pointer;
    }
  }
  &__item {
    align-items: center;
    background: $bg-color_sub1;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.15);
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    margin-bottom: 10px;
    min-height: $item-height;
    @include mq(md) {
      min-height: 70px;
    }
    padding: $space_s;
    transition: $time_s;
    width: 100%;
    &:hover {
      transform: scale(1.03);
    }
    &--done {
      background: $teal;
    }
  }
  &__contents {
    align-items: center;
    display: flex;
    @include mq() {
      display: block;
    }
    flex: 3 1 80%;
    justify-content: space-between;
    margin-left: $space_s;
    margin-right: $space_s;
  }
  &__text {
    font-size: $font-size_l;
    @include mq() {
      font-size: $font-size_default;
    }
  }
  &__date {
    font-size: $font-size_default;
    @include mq() {
      font-size: $font-size_m;
    }
  }
  &__icon {
    flex: 1 1 5%;
    margin-left: $space_s;
    margin-right: $space_s;
  }
  &__br {
    display: none;
    @include mq() {
      display: block;
    }
  }
}
#WishList {
  position: relative;
}