.p-wishList {
  padding: $space_l;
  border-radius: $space_s;
  background: $lightgray;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.25);
  box-sizing: border-box;
  &__header {
    display: flex;
    justify-content: space-between;
    &--left, &--right {
      display: flex;
    }
  }
  &__item {
    background: $bg-color_sub1;
    width: 100%;
    height: $item-height;
    @include mq(md) {
      height: 80px;
    }
    padding: $space_s;
    margin-bottom: 10px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.15);
    transition: $time_s;
    cursor: pointer;
    &:hover {
      transform: scale(1.03);
    }
    &--done {
      background: $teal;
    }
  }
  &__contents {
    flex: 3 1 80%;
    margin-left: $space_s;
    margin-right: $space_s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mq() {
      display: block;
    }
  }
  &__text {
    font-size: $font-size_l;
    @include mq() {
      font-size: $font-size_default;
    }
  }
  &__date {
    font-size: $font-size_default;
    @include mq() {
      font-size: $font-size_m;
    }
  }
  &__icon {
    flex: 1 1 5%;
    margin-left: $space_s;
    margin-right: $space_s;
  }
}
#WishList {
  position: relative;
}