.l-header {
  align-items: center;
  background: rgba($color: $bg-color_nav, $alpha: 0.9);
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  height: $header-height;
  justify-content: space-between;
  left: 0;
  padding: 0 $space_xl;
  @include mq(){
    padding: 0 $space_m;
  }
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 3;
}
