.u-icon {
  font-size: 24px;
  &--done {
    font-size: 24px;
    &:hover {
      cursor: pointer;
    }
  }
  &--cancel {
    font-size: 2rem;
    &:hover {
      cursor: pointer;
    }
  }
  &--delete {
    font-size: 2rem;
    &:hover {
      cursor: pointer;
    }
  }
}